 /* this */
 @import url('https://unpkg.com/css.gg@2.0.0/icons/css/pill.css');
 @import url('https://unpkg.com/css.gg@2.0.0/icons/css/edit-contrast.css');

/* this */
.bg-colour {
    background: #0575E6; 
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 

	/* background-color: #04268d; */
	/* background-color: #5cbdea; */
	/* background-color: white; */
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
	font-family: 'PT Sans', sans-serif;
}